body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding-left: 10%;
    background-color: #222222;
    padding-right: 5%;

}

h1 {
    color: rgb(255, 255, 255);
}

#header-1 {
    border-left: 7px solid rgb(255, 93, 65);
    padding-left: 10px;
    font-size: 60px;

}

h1 span {
    color: rgb(247, 190, 84);
}

.header-1 {
    border-left: orangered;
}

.first-para {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 60%;
    padding-top: 5%;

}

.half-width img {
    width: 60%;

}

.anchor-button {
    text-decoration: none;
    background: rgb(252, 84, 55);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

#my-mission {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.box-half-width {
    width: 10%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 2%;

}

.box-half-width img {
    width: 50%;
}

.three-box-area h3 {
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.three-box-area div {

    border-radius: 20px;
    height: 80%;
    width: 20%;
}

.three-box-area p {
    font-size: 16px;
}

#mission {
    background-color: rgb(236, 188, 126);
}

#vission {
    background-color: cadetblue;
}

#goals {
    background-color: pink;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

.read-anchor-button {
    text-decoration: none;
    background: rgb(252, 84, 55);
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.third-para {
    background-image: url(/images/shapes/shape-8.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 70%;
}

.text {
    width: inherit;
}

.text h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}

.text p {
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.text a {
    text-decoration: none;
    background: rgb(252, 84, 55);
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

.half-width h1 {
    font-size: 35px;
}

.fourth-para {
    width: 90%;
    padding-left: 20%;
    padding-top: 10%;
}

.join-anchor-button {
    text-decoration: none;
    background: rgb(252, 84, 55);
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.last-header {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.last-para {
    color: white;
    font-size: 16px;
    padding-right: 10%;

}

.last-pic img {
    border-radius: 10px;
}

.bg {
    background-color: #222222;
    padding: 40px 40px 40px 40px;

}

.bg-text {
    font-family: 'The Nautigal', cursive;
}