body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h1 span {
    color: orange;
}

.header-1 {
    border-left: orangered;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 70%;
}